.map-container {
  position: relative;
}

.input-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 500px;
  top: 10px;
  left: 10px;
}
.speed-dial-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

@media (max-width: 600px) {
  .input-container {
    width: 30%; 
    max-width: none; 
  }
}

.playlayer {
  position: absolute;
  z-index: 1000;
  bottom: 0; /* Position at the bottom */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Offset by half of its width to center it */
}

.leaflet-interactive {
  outline: none;
}

.ScaleBar {
  position: absolute;
  z-index: 1000;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */ /* Optional: you can remove this or adjust it as needed */
}



/* popuppppppppppppppppppppppppppppppppppppppppppp */
.custom-popup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-popup .leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-popup .leaflet-popup-content {
  margin: 10px;
  color: #333;
}


.custom-popup .MuiTypography-root {
  color: #333;
  font-weight: 600;
}

.custom-popup .MuiDivider-root {
  background-color: rgba(0, 0, 0, 0.1);
}


.custom-popup .MuiCardContent-root{
  padding-bottom: 0 !important;
}